.jumbotron {
    text-align: center;
    background-color: deepskyblue;
    color: white;
    
}

.btn {
    background-color: deepskyblue;
}

.current-weather{
    background-color: deepskyblue;
    color: white;
}

.five-day-card{
    background-color: deepskyblue;
    color: white;
}